/*Main Colors*/
/*Responsive Vars*/
/* line 1, ../components/sass/_Layout.scss */
body {
  background: #F5F5F5; 
  overflow-x: hidden;
}

/* line 4, ../components/sass/_Layout.scss */
a {
  cursor: pointer; }

/* line 7, ../components/sass/_Layout.scss */
a:hover {
  text-decoration: none; }

/* line 10, ../components/sass/_Layout.scss */
.CustomRow {
  margin-left: 0px;
  margin-right: 0px; }

/* line 14, ../components/sass/_Layout.scss */
.closed {
  display: none; }

/* line 17, ../components/sass/_Layout.scss */
.show {
  display: block; }

/* line 20, ../components/sass/_Layout.scss */
.left {
  float: left; }

/* line 23, ../components/sass/_Layout.scss */
.right {
  float: right; }

/*-----------------------------sideBar----------*/
/* line 27, ../components/sass/_Layout.scss */
.sideBarLeft {
  width: 70px;
  background-color: #272b35;
  z-index: 1100;
  position: fixed;
  bottom: 0;
  top: 0;
  right: auto;
  overflow: hidden;
  text-align: center;
  /*.sideMenu*/
  /*.tooltip*/ }
  /* line 37, ../components/sass/_Layout.scss */
  .sideBarLeft .sideMenu {
    padding-left: 0px;
    list-style: none;
    /*.sideMenuHeader*/
    /*.sideMenuItem*/
    /*.sideMenuFooter*/ }
    /* line 40, ../components/sass/_Layout.scss */
    .sideBarLeft .sideMenu .sideMenuHeader {
      background-color: #101215;
      max-height: 60px;
      height: 60px;
      width: 100%;
      margin-bottom: 14.5px;
      /*a*/ }
      /* line 46, ../components/sass/_Layout.scss */
      .sideBarLeft .sideMenu .sideMenuHeader a {
        vertical-align: middle;
        font-size: 40px;
        color: #F5F5F5; }
    /* line 52, ../components/sass/_Layout.scss */
    .sideBarLeft .sideMenu .sideMenuItem {
      margin-bottom: 18px;
      /*a*/
      /*.active*/ }
      /* line 54, ../components/sass/_Layout.scss */
      .sideBarLeft .sideMenu .sideMenuItem a {
        vertical-align: middle;
        font-size: 22px;
        color: #ffffff; }
      /* line 59, ../components/sass/_Layout.scss */
      .sideBarLeft .sideMenu .sideMenuItem .active {
        color: #83D1DB;
        padding: 13px;
        background: #2d3446;
        min-width: 70px;
        padding-right: 20px;
        margin: 0px;
        padding-left: 20px;
        margin-bottom: 25px; }
    /* line 70, ../components/sass/_Layout.scss */
    .sideBarLeft .sideMenu .sideMenuFooter {
      width: 100%;
      position: absolute;
      bottom: 0px;
      /*ul*/ }
      /* line 74, ../components/sass/_Layout.scss */
      .sideBarLeft .sideMenu .sideMenuFooter ul {
        padding-left: 0px;
        list-style: none;
        /*a */
        /*.active*/ }
        /* line 77, ../components/sass/_Layout.scss */
        .sideBarLeft .sideMenu .sideMenuFooter ul a {
          vertical-align: middle;
          font-size: 22px;
          color: #ffffff; }
        /* line 82, ../components/sass/_Layout.scss */
        .sideBarLeft .sideMenu .sideMenuFooter ul .active {
          color: #83D1DB;
          padding: 13px;
          background: #2d3446;
          min-width: 70px;
          padding-right: 25px;
          margin: 0px;
          padding-left: 25px;
          margin-bottom: 25px; }
  /* line 95, ../components/sass/_Layout.scss */
  .sideBarLeft .tooltip {
    position: fixed !important; }

/*.sideBarLeft*/
/*------------------------------Header----------*/
/* line 100, ../components/sass/_Layout.scss */
header {
  text-align: center;
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  /*.navbar*/ }
  /* line 103, ../components/sass/_Layout.scss */
  header .navbar {
    background-image: none !important;
    background: #ffffff !important;
    max-height: 60px;
    min-height: 60px;
    box-shadow: none;
    margin-bottom: 0px;
    /*.container-fluid*/
    /*.navbar-left*/
    /*.navbar-right*/ }
    /* line 110, ../components/sass/_Layout.scss */
    header .navbar .container-fluid {
      padding-left: 90px !important; }
    /* line 113, ../components/sass/_Layout.scss */
    header .navbar .navbar-left {
      /*.HeaderLogo*/
      /*.HeaderLinks*/
      /*.HeaderForm*/ }
      /* line 114, ../components/sass/_Layout.scss */
      header .navbar .navbar-left .HeaderLogo {
        display: inline-Block;
        float: left;
        margin-right: 15px;
        text-align: left;
        /*h1*/
        /*img*/ }
        /* line 119, ../components/sass/_Layout.scss */
        header .navbar .navbar-left .HeaderLogo h1 {
          font-size: 25px;
          font-weight: 300;
          margin-top: 15px;
          margin-bottom: 15px;
          padding-right: 50px; }
        /* line 126, ../components/sass/_Layout.scss */
        header .navbar .navbar-left .HeaderLogo img {
          height: 50px;
          margin-top: 5px;
          padding-right: 15px;
          padding-left: 15px; }
      /* line 133, ../components/sass/_Layout.scss */
      header .navbar .navbar-left .HeaderLinks {
        display: inline-Block;
        float: left;
        margin-right: 15px;
        margin-top: 7px;
        /*a*/ }
        /* line 138, ../components/sass/_Layout.scss */
        header .navbar .navbar-left .HeaderLinks a {
          font-size: 18px;
          margin-top: 8px;
          color: #272b35;
          padding-top: 0px;
          padding-bottom: 0px;
          border-radius: 0px;
          /*a:hover*/
          /*a:focus*/ }
          /* line 145, ../components/sass/_Layout.scss */
          header .navbar .navbar-left .HeaderLinks a :hover {
            color: #101215 !important; }
          /* line 148, ../components/sass/_Layout.scss */
          header .navbar .navbar-left .HeaderLinks a :focus {
            color: #101215 !important; }
        /* line 152, ../components/sass/_Layout.scss */
        header .navbar .navbar-left .HeaderLinks a:last-child {
          padding-right: 25px;
          border-right: 1px solid #99a1a9; }
        /* line 156, ../components/sass/_Layout.scss */
        header .navbar .navbar-left .HeaderLinks a:first-child {
          padding-left: 25px;
          border-left: 1px solid #99a1a9; }
      /* line 161, ../components/sass/_Layout.scss */
      header .navbar .navbar-left .HeaderForm {
        display: inline-Block;
        float: left;
        margin-right: 15px;
        min-width: 215px;
        /*input*/
        /*.form-control*/
        /*a*/
        /*.form-group*/ }
        /* line 166, ../components/sass/_Layout.scss */
        header .navbar .navbar-left .HeaderForm input {
          border-radius: 0px;
          background: #ffffff;
          color: #272b35;
          font-weight: 100;
          border: 0;
          width: 100%;
          line-height: 37px;
          font-size: 14px;
          text-indent: 15px;
          height: 59px;
          box-shadow: none; }
        /* line 179, ../components/sass/_Layout.scss */
        header .navbar .navbar-left .HeaderForm .form-control::-moz-placeholder {
          color: rgba(230, 230, 230, 0.7) !important;
          font-weight: 100; }
        /* line 183, ../components/sass/_Layout.scss */
        header .navbar .navbar-left .HeaderForm a {
          color: #272b35;
          font-size: 18px;
          float: right;
          margin-top: -40px;
          margin-right: 20px;
          position: relative; }
        /* line 191, ../components/sass/_Layout.scss */
        header .navbar .navbar-left .HeaderForm .form-group {
          margin-bottom: 0px;
          /*:focus*/ }
          /* line 193, ../components/sass/_Layout.scss */
          header .navbar .navbar-left .HeaderForm .form-group :focus {
            border: 0px;
            box-shadow: none; }
    /* line 200, ../components/sass/_Layout.scss */
    header .navbar .navbar-right {
      /*.HeaderLinks*/
      /*.ProfileHeader*/ }
      /* line 201, ../components/sass/_Layout.scss */
      header .navbar .navbar-right .HeaderLinks {
        display: inline-Block;
        float: right;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 7px;
        /*a*/ }
        /* line 207, ../components/sass/_Layout.scss */
        header .navbar .navbar-right .HeaderLinks a {
          font-size: 18px;
          margin-top: 8px;
          color: #272b35;
          padding-top: 0px;
          padding-bottom: 0px;
          border-radius: 0px;
          /*a:hover*/
          /*a:focus*/ }
          /* line 214, ../components/sass/_Layout.scss */
          header .navbar .navbar-right .HeaderLinks a :hover {
            color: #101215 !important; }
          /* line 217, ../components/sass/_Layout.scss */
          header .navbar .navbar-right .HeaderLinks a :focus {
            color: #101215 !important; }
      /* line 222, ../components/sass/_Layout.scss */
      header .navbar .navbar-right .ProfileHeader {
        display: inline-block;
        float: right;
        /*.a*/
        /*.dropdown-menu*/ }
        /* line 225, ../components/sass/_Layout.scss */
        header .navbar .navbar-right .ProfileHeader a {
          text-decoration: none;
          /*.ProfileHeaderAnchor*/ }
          /* line 227, ../components/sass/_Layout.scss */
          header .navbar .navbar-right .ProfileHeader a :hover {
            text-decoration: none; }
          /* line 230, ../components/sass/_Layout.scss */
          header .navbar .navbar-right .ProfileHeader a :active {
            text-decoration: none; }
          /* line 233, ../components/sass/_Layout.scss */
          header .navbar .navbar-right .ProfileHeader a .ProfileHeaderAnchor {
            margin-top: 4px;
            /*img*/
            /*h4*/ }
            /* line 235, ../components/sass/_Layout.scss */
            header .navbar .navbar-right .ProfileHeader a .ProfileHeaderAnchor img {
              height: 38px;
              border-radius: 50px;
              object-fit: cover;
              width: 38px;
              margin-top: 7px;
              margin-bottom: 5px;
              display: none; }
            /* line 244, ../components/sass/_Layout.scss */
            header .navbar .navbar-right .ProfileHeader a .ProfileHeaderAnchor h4 {
              display: inline-block;
              text-align: center;
              font-size: 15px;
              color: #101215;
              margin-right: 5px;
              vertical-align: middle; }
        /* line 254, ../components/sass/_Layout.scss */
        header .navbar .navbar-right .ProfileHeader .dropdown-menu {
          margin-top: 5px;
          border-top: none;
          border-radius: 0px;
          padding-top: 0px;
          -webkit-box-shadow: 0 9px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 9px 8px rgba(0, 0, 0, 0.1);
          /*.dropmenuItem*/
          /*.divider*/ }
          /* line 261, ../components/sass/_Layout.scss */
          header .navbar .navbar-right .ProfileHeader .dropdown-menu .dropmenuItem {
            /*a*/ }
            /* line 262, ../components/sass/_Layout.scss */
            header .navbar .navbar-right .ProfileHeader .dropdown-menu .dropmenuItem :hover {
              background: #ffffff; }
            /* line 265, ../components/sass/_Layout.scss */
            header .navbar .navbar-right .ProfileHeader .dropdown-menu .dropmenuItem a {
              color: #888;
              padding-top: 5px;
              padding-bottom: 5px;
              /*span*/
              /*h4*/ }
              /* line 266, ../components/sass/_Layout.scss */
              header .navbar .navbar-right .ProfileHeader .dropdown-menu .dropmenuItem a :hover {
                color: #101215; }
              /* line 272, ../components/sass/_Layout.scss */
              header .navbar .navbar-right .ProfileHeader .dropdown-menu .dropmenuItem a span {
                display: inline-block; }
              /* line 275, ../components/sass/_Layout.scss */
              header .navbar .navbar-right .ProfileHeader .dropdown-menu .dropmenuItem a h4 {
                display: inline-block;
                vertical-align: middle;
                font-size: 15px;
                margin: 0px;
                margin-left: 10px; }
          /* line 284, ../components/sass/_Layout.scss */
          header .navbar .navbar-right .ProfileHeader .dropdown-menu .divider {
            margin-bottom: 5px; }

/*header*/
/*------------------------------dataScetion----------*/
/* line 295, ../components/sass/_Layout.scss */
.dataSection {
  left: 70px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  /*.DataDiv*/
  /*.subSideBar*/
  /*.SideBarContent*/
  /*.subTopBar*/
  /*.TopBarContent*/
  /*.Content*/ }
.dataSection h1 {
    padding-left: 25px;
}
  /* line 301, ../components/sass/_Layout.scss */
  .dataSection .DataDiv {
    /*.PageHaeder*/ }
    /* line 302, ../components/sass/_Layout.scss */
    .dataSection .DataDiv .PageHaeder {
      /*h2*/ }
      /* line 303, ../components/sass/_Layout.scss */
      .dataSection .DataDiv .PageHaeder h2 {
        margin-left: 25px; }
  /* line 308, ../components/sass/_Layout.scss */
  .dataSection .subSideBar {
    width: 230px;
    padding: 25px;
    padding-top: 10px;
    background: #2d3446;
    height: 100%;
    position: fixed;
    /*.subSideBarMenu*/ }
    /* line 315, ../components/sass/_Layout.scss */
    .dataSection .subSideBar .subSideBarMenu {
      list-style: none;
      padding-left: 0px;
      /*.subSideBarMenuHeader*/
      /*.subSideBarMenuItem*/ }
      /* line 318, ../components/sass/_Layout.scss */
      .dataSection .subSideBar .subSideBarMenu .subSideBarMenuHeader {
        border-bottom: 1px solid rgba(230, 230, 230, 0.7);
        margin-bottom: 15px;
        /*h1*/ }
        /* line 321, ../components/sass/_Layout.scss */
        .dataSection .subSideBar .subSideBarMenu .subSideBarMenuHeader h1 {
          color: #83D1DB;
          font-size: 25px;
          font-weight: 100;
          margin-top: 15px;
          margin-bottom: 15px;
          padding-right: 40px;
          padding-bottom: 0px;
          display: inline-block; }
        /* line 331, ../components/sass/_Layout.scss */
        .dataSection .subSideBar .subSideBarMenu .subSideBarMenuHeader h1:first-child {
          padding-right: 5px; }
      /* line 335, ../components/sass/_Layout.scss */
      .dataSection .subSideBar .subSideBarMenu .subSideBarMenuItem {
        /*h4*/ }
        /* line 337, ../components/sass/_Layout.scss */
        .dataSection .subSideBar .subSideBarMenu .subSideBarMenuItem .active h4 {
          color: #83D1DB; }
        /* line 341, ../components/sass/_Layout.scss */
        .dataSection .subSideBar .subSideBarMenu .subSideBarMenuItem h4 {
          display: inline-block;
          color: #ffffff;
          margin-right: 15px;
          font-size: 14px; }
  /* line 350, ../components/sass/_Layout.scss */
  .dataSection .SideBarContent {
    width: 81.5%;
    left: 300px;
    position: fixed;
    padding-left: 25px;
    padding-right: 25px;
    overflow-y: auto;
    height: 100%;
    /*.DataDiv*/ }
    /* line 358, ../components/sass/_Layout.scss */
    .dataSection .SideBarContent .DataDiv {
      /*.PageHaeder*/
      /*.box-wider-text*/ }
      /* line 359, ../components/sass/_Layout.scss */
      .dataSection .SideBarContent .DataDiv .PageHaeder {
        margin-bottom: 10px;
        /*h2*/ }
        /* line 361, ../components/sass/_Layout.scss */
        .dataSection .SideBarContent .DataDiv .PageHaeder h2 {
          color: #2d3446;
          display: inline-block;
          margin-right: 15px; }
      /* line 367, ../components/sass/_Layout.scss */
      .dataSection .SideBarContent .DataDiv .box-wider-text {
        /*.box-header*/
        /*.box-body*/
        /*.box-footer*/ }
        /* line 368, ../components/sass/_Layout.scss */
        .dataSection .SideBarContent .DataDiv .box-wider-text .box-header {
          border-bottom: 1px solid #f3f3f3;
          padding-bottom: 20px;
          /*.HeaderLef*/
          /*.HeaderRight*/ }
          /* line 371, ../components/sass/_Layout.scss */
          .dataSection .SideBarContent .DataDiv .box-wider-text .box-header .HeaderLeft {
            display: inline-block;
            width: 60%;
            /*.SubHeader*/ }
            /* line 374, ../components/sass/_Layout.scss */
            .dataSection .SideBarContent .DataDiv .box-wider-text .box-header .HeaderLeft .SubHeader {
              display: inline-Block;
              float: left;
              margin-right: 15px;
              width: 100%;
              /*input*/
              /*.form-control*/
              /*a*/
              /*.form-group*/ }
              /* line 379, ../components/sass/_Layout.scss */
              .dataSection .SideBarContent .DataDiv .box-wider-text .box-header .HeaderLeft .SubHeader input {
                padding: 0px;
                border-radius: 0px;
                background: #ffffff;
                color: #272b35;
                font-weight: 100;
                border: 1px solid rgba(230, 230, 230, 0.7);
                width: 100%;
                line-height: 37px;
                font-size: 14px;
                text-indent: 15px;
                height: 35px;
                box-shadow: none; }
              /* line 393, ../components/sass/_Layout.scss */
              .dataSection .SideBarContent .DataDiv .box-wider-text .box-header .HeaderLeft .SubHeader .form-control::-moz-placeholder {
                color: rgba(230, 230, 230, 0.7) !important;
                font-weight: 100; }
              /* line 397, ../components/sass/_Layout.scss */
              .dataSection .SideBarContent .DataDiv .box-wider-text .box-header .HeaderLeft .SubHeader a {
                color: #272b35;
                font-size: 18px;
                float: right;
                margin-top: -32px;
                margin-right: 20px;
                position: relative; }
              /* line 405, ../components/sass/_Layout.scss */
              .dataSection .SideBarContent .DataDiv .box-wider-text .box-header .HeaderLeft .SubHeader .form-group {
                margin-bottom: 0px;
                /*:focus*/ }
                /* line 407, ../components/sass/_Layout.scss */
                .dataSection .SideBarContent .DataDiv .box-wider-text .box-header .HeaderLeft .SubHeader .form-group :focus {
                  border: 0px;
                  box-shadow: none; }
          /* line 414, ../components/sass/_Layout.scss */
          .dataSection .SideBarContent .DataDiv .box-wider-text .box-header .HeaderRight {
            display: inline-block;
            float: right;
            padding-right: 25px;
            /*button*/
            /*button:hover*/ }
            /* line 418, ../components/sass/_Layout.scss */
            .dataSection .SideBarContent .DataDiv .box-wider-text .box-header .HeaderRight button {
              background: #2d3446;
              color: #ffffff; }
            /* line 422, ../components/sass/_Layout.scss */
            .dataSection .SideBarContent .DataDiv .box-wider-text .box-header .HeaderRight button:hover {
              background: #83D1DB;
              color: #ffffff; }
        /* line 428, ../components/sass/_Layout.scss */
        .dataSection .SideBarContent .DataDiv .box-wider-text .box-body {
          padding-top: 15px;
          padding-bottom: 15px;
          /*table*/ }
          /* line 431, ../components/sass/_Layout.scss */
          .dataSection .SideBarContent .DataDiv .box-wider-text .box-body table {
            /*thead*/
            /*tbody*/ }
            /* line 432, ../components/sass/_Layout.scss */
            .dataSection .SideBarContent .DataDiv .box-wider-text .box-body table thead {
              /*tr*/ }
              /* line 433, ../components/sass/_Layout.scss */
              .dataSection .SideBarContent .DataDiv .box-wider-text .box-body table thead tr {
                /*th*/
                /*.check-col*/ }
                /* line 434, ../components/sass/_Layout.scss */
                .dataSection .SideBarContent .DataDiv .box-wider-text .box-body table thead tr th {
                  font-weight: 600;
                  border-bottom: none;
                  padding-bottom: 10px;
                  font-size: 16px; }
                /* line 440, ../components/sass/_Layout.scss */
                .dataSection .SideBarContent .DataDiv .box-wider-text .box-body table thead tr .check-col {
                  text-align: center;
                  width: 45px; }
            /* line 446, ../components/sass/_Layout.scss */
            .dataSection .SideBarContent .DataDiv .box-wider-text .box-body table tbody {
              /*tr*/ }
              /* line 447, ../components/sass/_Layout.scss */
              .dataSection .SideBarContent .DataDiv .box-wider-text .box-body table tbody tr {
                height: 80px;
                /*td*/ }
                /* line 449, ../components/sass/_Layout.scss */
                .dataSection .SideBarContent .DataDiv .box-wider-text .box-body table tbody tr td {
                  vertical-align: middle;
                  font-size: 13px;
                  color: #959595; }
                /* line 454, ../components/sass/_Layout.scss */
                .dataSection .SideBarContent .DataDiv .box-wider-text .box-body table tbody tr .check-col {
                  text-align: center;
                  width: 45px; }
                  /* line 457, ../components/sass/_Layout.scss */
                  .dataSection .SideBarContent .DataDiv .box-wider-text .box-body table tbody tr .check-col a {
                    font-size: 15px;
                    color: #959595; }
                  /* line 461, ../components/sass/_Layout.scss */
                  .dataSection .SideBarContent .DataDiv .box-wider-text .box-body table tbody tr .check-col a:hover {
                    font-size: 15px;
                    color: #83D1DB; }
        /* line 470, ../components/sass/_Layout.scss */
        .dataSection .SideBarContent .DataDiv .box-wider-text .box-footer {
          padding-bottom: 0px;
          padding-top: 15px;
          /*.pagination*/ }
          /* line 473, ../components/sass/_Layout.scss */
          .dataSection .SideBarContent .DataDiv .box-wider-text .box-footer .pagination {
            margin: 0px;
            float: right;
            padding-right: 15px;
            padding-bottom: 5px; }
  /* line 483, ../components/sass/_Layout.scss */
  .dataSection .subTopBar {
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    background: #ffffff;
    border-bottom: 1px solid rgba(230, 230, 230, 0.7);
    /*.subTopBarList*/ }
    /* line 489, ../components/sass/_Layout.scss */
    .dataSection .subTopBar .subTopBarList {
      height: 60px;
      list-style: none;
      /*.subTopBarItem*/
      /*.subTopBarItem :first-child*/
      /*.dropdown-menu*/ }
      /* line 492, ../components/sass/_Layout.scss */
      .dataSection .subTopBar .subTopBarList .subTopBarItem {
        float: left;
        margin-left: 20px;
        /*a*/
        /*.SubHeaderAnchor*/ }
        /* line 495, ../components/sass/_Layout.scss */
        .dataSection .subTopBar .subTopBarList .subTopBarItem a {
          color: #2d3446;
          /*:hover*/ }
          /* line 497, ../components/sass/_Layout.scss */
          .dataSection .subTopBar .subTopBarList .subTopBarItem a :hover {
            color: #101215; }
        /* line 501, ../components/sass/_Layout.scss */
        .dataSection .subTopBar .subTopBarList .subTopBarItem .SubHeaderAnchor {
          /*h4*/ }
          /* line 502, ../components/sass/_Layout.scss */
          .dataSection .subTopBar .subTopBarList .subTopBarItem .SubHeaderAnchor h4 {
            display: inline-block;
            float: left;
            margin-right: 15px;
            margin-top: 20px;
            font-size: 14px; }
      /* line 512, ../components/sass/_Layout.scss */
      .dataSection .subTopBar .subTopBarList .subTopBarItem:first-child {
        /*h1*/
        margin-left: 0px;
        padding-right: 30px;
        border-right: 1px solid rgba(230, 230, 230, 0.7); }
        /* line 513, ../components/sass/_Layout.scss */
        .dataSection .subTopBar .subTopBarList .subTopBarItem:first-child h1 {
          font-size: 25px;
          font-weight: 500;
          margin-top: 15px;
          margin-bottom: 15px;
          padding-right: 40px; }
      /* line 525, ../components/sass/_Layout.scss */
      .dataSection .subTopBar .subTopBarList .dropdown-menu {
        top: 54px;
        margin-top: 5px;
        border-top: none;
        border-radius: 0px;
        padding-top: 0px;
        -webkit-box-shadow: 0 9px 8px rgba(0, 0, 0, 0.1);
        box-shadow: 0 9px 8px rgba(0, 0, 0, 0.1);
        /*.dropmenuItem*/
        /*.divider*/ }
        /* line 533, ../components/sass/_Layout.scss */
        .dataSection .subTopBar .subTopBarList .dropdown-menu .dropmenuItem {
          /*a*/ }
          /* line 534, ../components/sass/_Layout.scss */
          .dataSection .subTopBar .subTopBarList .dropdown-menu .dropmenuItem :hover {
            background: #ffffff; }
          /* line 537, ../components/sass/_Layout.scss */
          .dataSection .subTopBar .subTopBarList .dropdown-menu .dropmenuItem a {
            color: #888;
            padding-top: 5px;
            padding-bottom: 5px;
            /*span*/
            /*h4*/ }
            /* line 538, ../components/sass/_Layout.scss */
            .dataSection .subTopBar .subTopBarList .dropdown-menu .dropmenuItem a :hover {
              color: #101215; }
            /* line 544, ../components/sass/_Layout.scss */
            .dataSection .subTopBar .subTopBarList .dropdown-menu .dropmenuItem a span {
              display: inline-block; }
            /* line 547, ../components/sass/_Layout.scss */
            .dataSection .subTopBar .subTopBarList .dropdown-menu .dropmenuItem a h4 {
              display: inline-block;
              vertical-align: middle;
              font-size: 15px;
              margin: 0px;
              margin-left: 10px; }
        /* line 556, ../components/sass/_Layout.scss */
        .dataSection .subTopBar .subTopBarList .dropdown-menu .divider {
          margin-bottom: 5px; }
  /* line 562, ../components/sass/_Layout.scss */
  .dataSection .TopBarContent {
    padding-left: 25px;
    padding-right: 25px; }
  /* line 566, ../components/sass/_Layout.scss */
  .dataSection .Content {
    padding-left: 25px;
    padding-right: 25px; }

/*.dataSection*/
/* line 1, ../components/sass/_Modules.scss */
.OverLayForm {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.98);
  z-index: 1500;
  padding: 70px;
  padding-top: 35px;
  padding-bottom: 35px;
  overflow: auto;
  /*.OverLayFormHeader*/
  /*.OverLayFormContent*/
  /*.OverLayFormFooter*/ }
  /* line 13, ../components/sass/_Modules.scss */
  .OverLayForm .OverLayFormHeader {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(230, 230, 230, 0.7);
    /*.OverLayFormHeaderLeft*/
    /*.OverLayFormHeaderRight*/ }
    /* line 16, ../components/sass/_Modules.scss */
    .OverLayForm .OverLayFormHeader .OverLayFormHeaderLeft {
      display: inline-block;
      float: left; }
    /* line 20, ../components/sass/_Modules.scss */
    .OverLayForm .OverLayFormHeader .OverLayFormHeaderRight {
      display: inline-block;
      float: Right;
      /*span*/ }
      /* line 23, ../components/sass/_Modules.scss */
      .OverLayForm .OverLayFormHeader .OverLayFormHeaderRight span {
        margin-top: 25px;
        font-size: 18px;
        cursor: pointer; }
  /* line 30, ../components/sass/_Modules.scss */
  .OverLayForm .OverLayFormContent {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
    /*.FormSection*/ }
    /* line 34, ../components/sass/_Modules.scss */
    .OverLayForm .OverLayFormContent .FormSection {
      /*.SectionHeader*/
      /*.SectionContent*/ }
      /* line 36, ../components/sass/_Modules.scss */
      .OverLayForm .OverLayFormContent .FormSection .checkbox label {
        line-height: 4;
        padding-left: 0px; }
      /* line 41, ../components/sass/_Modules.scss */
      .OverLayForm .OverLayFormContent .FormSection .SectionHeader {
        margin-bottom: 15px; }
      /* line 44, ../components/sass/_Modules.scss */
      .OverLayForm .OverLayFormContent .FormSection .SectionContent {
        /*.TableDataDivr*/
        /*.form-group*/
        /*.TotalData*/ }
        /* line 45, ../components/sass/_Modules.scss */
        .OverLayForm .OverLayFormContent .FormSection .SectionContent .TableDataDiv {
          min-width: 75%;
          /*table*/ }
          /* line 47, ../components/sass/_Modules.scss */
          .OverLayForm .OverLayFormContent .FormSection .SectionContent .TableDataDiv table {
            margin-bottom: 5px; }
        /* line 51, ../components/sass/_Modules.scss */
        .OverLayForm .OverLayFormContent .FormSection .SectionContent .form-group {
          margin: 0px;
          padding: 10px;
          /*label*/
          /*select*/
          /*input*/
          /*textarea*/ }
          /* line 54, ../components/sass/_Modules.scss */
          .OverLayForm .OverLayFormContent .FormSection .SectionContent .form-group label {
            font-weight: 100; }
          /* line 57, ../components/sass/_Modules.scss */
          .OverLayForm .OverLayFormContent .FormSection .SectionContent .form-group select {
            border: 1px solid rgba(230, 230, 230, 0.7);
            border-radius: 0px;
            padding: 10px;
            min-height: 50px;
            box-shadow: none;
            background: none;
            width: 50%; }
          /* line 66, ../components/sass/_Modules.scss */
          .OverLayForm .OverLayFormContent .FormSection .SectionContent .form-group input {
            border: 1px solid rgba(230, 230, 230, 0.7);
            border-radius: 0px;
            padding: 10px;
            min-height: 50px;
            box-shadow: none;
            background: none;
            width: 50%; }
          /* line 75, ../components/sass/_Modules.scss */
          .OverLayForm .OverLayFormContent .FormSection .SectionContent .form-group textarea {
            border: 1px solid rgba(230, 230, 230, 0.7);
            border-radius: 0px;
            padding: 10px;
            min-height: 100px;
            box-shadow: none;
            background: none;
            width: 100%;
            max-width: 100%;
            max-height: 100px;
            min-width: 100%; }
        /* line 88, ../components/sass/_Modules.scss */
        .OverLayForm .OverLayFormContent .FormSection .SectionContent .TotalData {
          /*.TotalItem*/ }
          /* line 89, ../components/sass/_Modules.scss */
          .OverLayForm .OverLayFormContent .FormSection .SectionContent .TotalData .TotalItem {
            display: inline-block;
            /*h4*/ }
            /* line 91, ../components/sass/_Modules.scss */
            .OverLayForm .OverLayFormContent .FormSection .SectionContent .TotalData .TotalItem h4 {
              display: inline-block;
              margin-right: 5px; }
  /* line 100, ../components/sass/_Modules.scss */
  .OverLayForm .OverLayFormFooter {
    border-top: 1px solid rgba(230, 230, 230, 0.7);
    padding-top: 15px;
    padding-bottom: 15px;
    /*.OverLayFormFooterItem*/ }
    /* line 105, ../components/sass/_Modules.scss */
    .OverLayForm .OverLayFormFooter .OverLayFormFooterItem button {
      padding-right: 20px;
      padding-left: 20px;
      background: #2d3446;
      color: #ffffff; }
    /* line 111, ../components/sass/_Modules.scss */
    .OverLayForm .OverLayFormFooter .OverLayFormFooterItem button:hover {
      background: #83D1DB; }

/*.OverLayForm*/
/* line 120, ../components/sass/_Modules.scss */
.CustomModal {
  /*.modal-content*/ }
  /* line 121, ../components/sass/_Modules.scss */
  .CustomModal .modal-dialog {
    margin-top: 80px;
    /*.modal-content*/ }
    /* line 123, ../components/sass/_Modules.scss */
    .CustomModal .modal-dialog .modal-content {
      background: #2d3446;
      /*.modal-header*/
      /*.modal-body*/
      /*.modal-footer*/ }
      /* line 125, ../components/sass/_Modules.scss */
      .CustomModal .modal-dialog .modal-content .modal-header {
        border-bottom: none; }
      /* line 128, ../components/sass/_Modules.scss */
      .CustomModal .modal-dialog .modal-content .modal-body {
        padding-top: 0px;
        padding-bottom: 0px;
        paddding-right: 25px;
        padding-left: 25px;
        /*h1*/
        /*p*/ }
        /* line 133, ../components/sass/_Modules.scss */
        .CustomModal .modal-dialog .modal-content .modal-body h1 {
          margin-top: 5px;
          color: #83D1DB;
          font-weight: 100; }
        /* line 138, ../components/sass/_Modules.scss */
        .CustomModal .modal-dialog .modal-content .modal-body p {
          color: #ffffff; }
      /* line 142, ../components/sass/_Modules.scss */
      .CustomModal .modal-dialog .modal-content .modal-footer {
        border: none;
        padding-top: 0px; }
        /* line 145, ../components/sass/_Modules.scss */
        .CustomModal .modal-dialog .modal-content .modal-footer button {
          color: #ffffff;
          background: #83D1DB; }

/*.CustomModal*/
/* line 157, ../components/sass/_Modules.scss */
.OverLayFormCustom {
  overflow: auto;
  padding-bottom: 50px;
  /*.OverLayFormHeader*/
  /*.OverLayFormContent*/
  /*.OverLayFormFooter*/ }
  /* line 160, ../components/sass/_Modules.scss */
  .OverLayFormCustom .OverLayFormHeader {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(230, 230, 230, 0.7);
    /*.OverLayFormHeaderLeft*/
    /*.OverLayFormHeaderRight*/ }
    /* line 163, ../components/sass/_Modules.scss */
    .OverLayFormCustom .OverLayFormHeader .OverLayFormHeaderLeft {
      display: inline-block;
      float: left; }
    /* line 167, ../components/sass/_Modules.scss */
    .OverLayFormCustom .OverLayFormHeader .OverLayFormHeaderRight {
      display: inline-block;
      float: Right;
      /*span*/ }
      /* line 170, ../components/sass/_Modules.scss */
      .OverLayFormCustom .OverLayFormHeader .OverLayFormHeaderRight span {
        margin-top: 25px;
        font-size: 18px;
        cursor: pointer; }
  /* line 177, ../components/sass/_Modules.scss */
  .OverLayFormCustom .OverLayFormContent {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
    /*.FormSection*/ }
    /* line 181, ../components/sass/_Modules.scss */
    .OverLayFormCustom .OverLayFormContent .FormSection {
      /*.SectionHeader*/
      /*.SectionContent*/ }
      /* line 183, ../components/sass/_Modules.scss */
      .OverLayFormCustom .OverLayFormContent .FormSection .checkbox label {
        line-height: 4;
        padding-left: 0px; }
      /* line 188, ../components/sass/_Modules.scss */
      .OverLayFormCustom .OverLayFormContent .FormSection .SectionHeader {
        margin-bottom: 15px;
        /*input*/ }
        /* line 190, ../components/sass/_Modules.scss */
        .OverLayFormCustom .OverLayFormContent .FormSection .SectionHeader input {
          display: inline-block;
          margin-top: 20px;
          border: none;
          box-shadow: none;
          border-bottom: 1px solid #f3f3f3;
          width: 15%;
          border-radius: 0 !important;
          margin-left: 15px;
          text-align: center;
          font-size: 25px; }
        /* line 202, ../components/sass/_Modules.scss */
        .OverLayFormCustom .OverLayFormContent .FormSection .SectionHeader h3 {
          display: inline-block; }
        /* line 205, ../components/sass/_Modules.scss */
        .OverLayFormCustom .OverLayFormContent .FormSection .SectionHeader .InputWSign {
          display: inline-block; }
          /* line 207, ../components/sass/_Modules.scss */
          .OverLayFormCustom .OverLayFormContent .FormSection .SectionHeader .InputWSign input {
            width: 45%; }
      /* line 212, ../components/sass/_Modules.scss */
      .OverLayFormCustom .OverLayFormContent .FormSection .center {
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        margin-bottom: 25px; }
        /* line 217, ../components/sass/_Modules.scss */
        .OverLayFormCustom .OverLayFormContent .FormSection .center .form-group {
          margin: 0px;
          padding: 10px;
          /*label*/
          /*select*/ }
          /* line 220, ../components/sass/_Modules.scss */
          .OverLayFormCustom .OverLayFormContent .FormSection .center .form-group label {
            font-weight: 100; }
          /* line 223, ../components/sass/_Modules.scss */
          .OverLayFormCustom .OverLayFormContent .FormSection .center .form-group select {
            width: 100% !important; }
      /* line 228, ../components/sass/_Modules.scss */
      .OverLayFormCustom .OverLayFormContent .FormSection .SectionContent {
        /*.TableDataDivr*/
        /*.form-group*/
        /*.TotalData*/ }
        /* line 229, ../components/sass/_Modules.scss */
        .OverLayFormCustom .OverLayFormContent .FormSection .SectionContent .TableDataDiv {
          min-width: 75%;
          /*table*/ }
          /* line 231, ../components/sass/_Modules.scss */
          .OverLayFormCustom .OverLayFormContent .FormSection .SectionContent .TableDataDiv table {
            margin-bottom: 5px; }
        /* line 235, ../components/sass/_Modules.scss */
        .OverLayFormCustom .OverLayFormContent .FormSection .SectionContent .form-group {
          margin: 0px;
          padding: 10px;
          /*label*/
          /*select*/
          /*input*/
          /*textarea*/ }
          /* line 238, ../components/sass/_Modules.scss */
          .OverLayFormCustom .OverLayFormContent .FormSection .SectionContent .form-group label {
            font-weight: 100; }
          /* line 241, ../components/sass/_Modules.scss */
          .OverLayFormCustom .OverLayFormContent .FormSection .SectionContent .form-group select {
            border: 1px solid rgba(230, 230, 230, 0.7);
            border-radius: 0px;
            padding: 10px;
            min-height: 50px;
            box-shadow: none;
            background: none;
            width: 50%; }
          /* line 250, ../components/sass/_Modules.scss */
          .OverLayFormCustom .OverLayFormContent .FormSection .SectionContent .form-group input {
            border: 1px solid rgba(230, 230, 230, 0.7);
            border-radius: 0px;
            padding: 10px;
            min-height: 50px;
            box-shadow: none;
            background: none;
            width: 50%; }
          /* line 259, ../components/sass/_Modules.scss */
          .OverLayFormCustom .OverLayFormContent .FormSection .SectionContent .form-group textarea {
            border: 1px solid rgba(230, 230, 230, 0.7);
            border-radius: 0px;
            padding: 10px;
            min-height: 100px;
            box-shadow: none;
            background: none;
            width: 100%;
            max-width: 100%;
            max-height: 100px;
            min-width: 100%; }
        /* line 272, ../components/sass/_Modules.scss */
        .OverLayFormCustom .OverLayFormContent .FormSection .SectionContent .TotalData {
          /*.TotalItem*/ }
          /* line 273, ../components/sass/_Modules.scss */
          .OverLayFormCustom .OverLayFormContent .FormSection .SectionContent .TotalData .TotalItem {
            display: inline-block;
            /*h4*/ }
            /* line 275, ../components/sass/_Modules.scss */
            .OverLayFormCustom .OverLayFormContent .FormSection .SectionContent .TotalData .TotalItem h4 {
              display: inline-block;
              margin-right: 5px; }
  /* line 284, ../components/sass/_Modules.scss */
  .OverLayFormCustom .OverLayFormFooter {
    border-top: 1px solid rgba(230, 230, 230, 0.7);
    padding-top: 15px;
    padding-bottom: 15px;
    /*.OverLayFormFooterItem*/ }
    /* line 289, ../components/sass/_Modules.scss */
    .OverLayFormCustom .OverLayFormFooter .OverLayFormFooterItem button {
      padding-right: 20px;
      padding-left: 20px;
      background: #2d3446;
      color: #ffffff; }
    /* line 295, ../components/sass/_Modules.scss */
    .OverLayFormCustom .OverLayFormFooter .OverLayFormFooterItem button:hover {
      background: #83D1DB; }

/*.OverLayFormCustom*/
/* line 302, ../components/sass/_Modules.scss */
.SalaryInfo {
  padding-top: 0px;
  padding-bottom: 25px;
  /*.box-header*/ }
  /* line 305, ../components/sass/_Modules.scss */
  .SalaryInfo .box-header {
    padding-bottom: 0px !important;
    /*h3*/ }
    /* line 307, ../components/sass/_Modules.scss */
    .SalaryInfo .box-header h3 {
      margin-bottom: 20px !important; }

/*.SalaryInfo*/
/* line 313, ../components/sass/_Modules.scss */
.InputWSign {
  /*span*/
  /*input*/ }
  /* line 314, ../components/sass/_Modules.scss */
  .InputWSign span {
    display: inline-block;
    margin-left: 15px;
    font-size: 20px; }
  /* line 319, ../components/sass/_Modules.scss */
  .InputWSign input {
    display: inline-block; }

/*.InputWSign*/
/* line 326, ../components/sass/_Modules.scss */
.CustomeCheck {
  /*label*/
  /*input*/ }
  /* line 327, ../components/sass/_Modules.scss */
  .CustomeCheck label {
    min-width: 10%;
    width: 10% !important; }
  /* line 331, ../components/sass/_Modules.scss */
  .CustomeCheck input {
    min-width: 10%;
    width: 10% !important;
    margin-left: 0px !important; }

/*.CustomeCheck*/
/* line 339, ../components/sass/_Modules.scss */
.HotTagCheck input {
  width: 15% !important; }

/*.HotTagCheck*/
/* line 344, ../components/sass/_Modules.scss */
.ChatDetails {
  /*.box-footer*/ }
  /* line 345, ../components/sass/_Modules.scss */
  .ChatDetails .box-footer {
    padding: 25px; }

/*.ChatDetails*/
/* line 350, ../components/sass/_Modules.scss */
.TopBarForm {
display: inline-Block;
float: left;
margin-right: 15px;
min-width: 83%;
}
  /* line 355, ../components/sass/_Modules.scss */
  .TopBarForm input {
    border-radius: 0px;
    background: #ffffff;
    color: #272b35;
    font-weight: 100;
    border: 0;
    width: 100%;
    line-height: 37px;
    font-size: 14px;
    text-indent: 15px;
    height: 59px;
    box-shadow: none; }
  /* line 368, ../components/sass/_Modules.scss */
  .TopBarForm .form-control::-moz-placeholder {
    color: rgba(230, 230, 230, 0.7) !important;
    font-weight: 100; }
  /* line 372, ../components/sass/_Modules.scss */
  .TopBarForm a {
    color: #272b35;
    font-size: 18px;
    float: right;
    margin-top: -40px;
    margin-right: 20px;
    position: relative; }
  /* line 380, ../components/sass/_Modules.scss */
  .TopBarForm .form-group {
    margin-bottom: 0px;
    /*:focus*/ }
    /* line 382, ../components/sass/_Modules.scss */
    .TopBarForm .form-group :focus {
      border: 0px;
      box-shadow: none; }

/*.HeaderForm*/
/* line 390, ../components/sass/_Modules.scss */
.Wide {
  width: 95.5%;
  padding: 15px; }

/* line 395, ../components/sass/_Modules.scss */
.box-wider-text {
  /*.box-header*/
  /*.box-body*/
  /*.box-footer*/ }
  /* line 396, ../components/sass/_Modules.scss */
  .box-wider-text .box-header {
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 20px;
    /*.HeaderLef*/
    /*.HeaderRight*/ }
    /* line 399, ../components/sass/_Modules.scss */
    .box-wider-text .box-header .HeaderLeft {
      display: inline-block;
      width: 60%;
      /*.SubHeader*/ }
      /* line 402, ../components/sass/_Modules.scss */
      .box-wider-text .box-header .HeaderLeft .SubHeader {
        display: inline-Block;
        float: left;
        margin-right: 15px;
        width: 100%;
        /*input*/
        /*.form-control*/
        /*a*/
        /*.form-group*/ }
        /* line 407, ../components/sass/_Modules.scss */
        .box-wider-text .box-header .HeaderLeft .SubHeader input {
          padding: 0px;
          border-radius: 0px;
          background: #ffffff;
          color: #272b35;
          font-weight: 100;
          border: 1px solid rgba(230, 230, 230, 0.7);
          width: 100%;
          line-height: 37px;
          font-size: 14px;
          text-indent: 15px;
          height: 35px;
          box-shadow: none; }
        /* line 421, ../components/sass/_Modules.scss */
        .box-wider-text .box-header .HeaderLeft .SubHeader .form-control::-moz-placeholder {
          color: rgba(230, 230, 230, 0.7) !important;
          font-weight: 100; }
        /* line 425, ../components/sass/_Modules.scss */
        .box-wider-text .box-header .HeaderLeft .SubHeader a {
          color: #272b35;
          font-size: 18px;
          float: right;
          margin-top: -32px;
          margin-right: 20px;
          position: relative; }
        /* line 433, ../components/sass/_Modules.scss */
        .box-wider-text .box-header .HeaderLeft .SubHeader .form-group {
          margin-bottom: 0px;
          /*:focus*/ }
          /* line 435, ../components/sass/_Modules.scss */
          .box-wider-text .box-header .HeaderLeft .SubHeader .form-group :focus {
            border: 0px;
            box-shadow: none; }
      /* line 442, ../components/sass/_Modules.scss */
      .box-wider-text .box-header .HeaderLeft .form-group {
        margin: 0px;
        /*select*/ }
        /* line 445, ../components/sass/_Modules.scss */
        .box-wider-text .box-header .HeaderLeft .form-group select {
          border: 1px solid rgba(230, 230, 230, 0.7);
          border-radius: 0px;
          padding: 10px;
          min-height: 42px;
          box-shadow: none;
          background: none;
          width: 100%; }
    /* line 456, ../components/sass/_Modules.scss */
    .box-wider-text .box-header .HeaderRight {
      display: inline-block;
      float: right;
      padding-right: 25px;
      /*button*/
      /*button:hover*/ }
      /* line 460, ../components/sass/_Modules.scss */
      .box-wider-text .box-header .HeaderRight button {
        background: #2d3446;
        color: #ffffff; }
      /* line 464, ../components/sass/_Modules.scss */
      .box-wider-text .box-header .HeaderRight button:hover {
        background: #83D1DB;
        color: #ffffff; }
  /* line 471, ../components/sass/_Modules.scss */
  .box-wider-text .box-body {
    padding-top: 15px;
    padding-bottom: 15px;
    /*table*/ }
    /* line 474, ../components/sass/_Modules.scss */
    .box-wider-text .box-body table {
      /*thead*/
      /*tbody*/ }
      /* line 475, ../components/sass/_Modules.scss */
      .box-wider-text .box-body table thead {
        /*tr*/ }
        /* line 476, ../components/sass/_Modules.scss */
        .box-wider-text .box-body table thead tr {
          /*th*/
          /*.check-col*/ }
          /* line 477, ../components/sass/_Modules.scss */
          .box-wider-text .box-body table thead tr th {
            font-weight: 600;
            border-bottom: none;
            padding-bottom: 10px;
            font-size: 16px; }
          /* line 483, ../components/sass/_Modules.scss */
          .box-wider-text .box-body table thead tr .check-col {
            text-align: center;
            width: 45px; }
      /* line 489, ../components/sass/_Modules.scss */
      .box-wider-text .box-body table tbody {
        /*tr*/ }
        /* line 490, ../components/sass/_Modules.scss */
        .box-wider-text .box-body table tbody tr {
          height: 80px;
          /*td*/ }
          /* line 492, ../components/sass/_Modules.scss */
          .box-wider-text .box-body table tbody tr td {
            vertical-align: middle;
            font-size: 13px;
            color: #959595; }
          /* line 497, ../components/sass/_Modules.scss */
          .box-wider-text .box-body table tbody tr .check-col {
            text-align: center;
            width: 45px; }
            /* line 500, ../components/sass/_Modules.scss */
            .box-wider-text .box-body table tbody tr .check-col a {
              font-size: 15px;
              color: #959595; }
            /* line 504, ../components/sass/_Modules.scss */
            .box-wider-text .box-body table tbody tr .check-col a:hover {
              font-size: 15px;
              color: #83D1DB; }
  /* line 513, ../components/sass/_Modules.scss */
  .box-wider-text .box-footer {
    padding-bottom: 0px;
    padding-top: 15px;
    /*.pagination*/ }
    /* line 516, ../components/sass/_Modules.scss */
    .box-wider-text .box-footer .pagination {
      margin: 0px;
      float: right;
      padding-right: 15px;
      padding-bottom: 5px; }

/*.box-wider-text*/
/* line 526, ../components/sass/_Modules.scss */
.IdWidth {
  width: 50px !important; }

/* line 531, ../components/sass/_Modules.scss */
.SubItem thead {
  color: #000000 !important; }

/* line 537, ../components/sass/_Modules.scss */
.TableDataDiv ul {
  list-style: none;
  padding: 0px;
  margin-right: 0px; }

/* line 544, ../components/sass/_Modules.scss */
.ServiceBox {
  background-image: url(../_/images/h2.jpg);
  margin-top: 15px;
  margin-bottom: 15px;
  /*.ServiceImg*/
  /*.ServiceTitel*/ }
  /* line 548, ../components/sass/_Modules.scss */
  .ServiceBox .ServiceImg {
    /*----------Animation : ShadowIn----------------*/
    /*----------Animation : ShadowOut----------------*/
    /*.ServiceFliterLayer*/
    /*.SFL1*/
    /*.SFL2*/
    /*.SFL3*/
    /*.SFL4*/
    /*.SFL5*/
    /*.SFL6*/
    /*img*/
    /*.SImg1*/
    /*.SImg2*/
    /*.SImg3*/
    /*.SImg4*/
    /*.SImg5*/
    /*.SImg6*/
    /*.subBorder*/
    /*.subBImg1*/
    /*.subBImg2*/
    /*.subBImg3*/
    /*.subBImg4*/
    /*.subBImg5*/
    /*.subBImg6*/
    /*.subBorderLight*/
    /*.SBLight1*/
    /*.SBLight2*/
    /*.SBLight3*/
    /*.SBLight4*/
    /*.SBLight5*/
    /*.SBLight6*/ }
@-webkit-keyframes ShadowIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.3; } }
@keyframes ShadowIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.3; } }
    /* line 13, ../components/sass/_mixins.scss */
    .ServiceBox .ServiceImg .ShadowIn {
      -webkit-animation-name: ShadowIn;
      animation-name: ShadowIn; }
@-webkit-keyframes ShadowOut {
  0% {
    opacity: 0.3; }
  100% {
    opacity: 0; } }
@keyframes ShadowOut {
  0% {
    opacity: 0.3; }
  100% {
    opacity: 0; } }
    /* line 26, ../components/sass/_mixins.scss */
    .ServiceBox .ServiceImg .ShadowOut {
      -webkit-animation-name: ShadowOut;
      animation-name: ShadowOut; }
    /* line 550, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .ServiceFliterLayer {
      max-width: 95%;
      min-width: 92.3%;
      max-height: 265px;
      min-height: 265px;
      position: absolute;
      opacity: 0; }
    /* line 559, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .SFL1 {
      background: #144F5F; }
    /* line 562, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .SFL2 {
      background: #7C5D24; }
    /* line 565, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .SFL3 {
      background: #6E1014; }
    /* line 568, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .SFL4 {
      background: #4F652D; }
    /* line 571, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .SFL5 {
      background: #48254C; }
    /* line 574, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .SFL6 {
      background: #852635; }
    /* line 577, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg img {
      max-width: 100%;
      max-height: 275px;
      min-height: 275px; }
    /* line 582, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .SImg1 {
      border-color: #144F5F; }
    /* line 585, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .SImg2 {
      border-color: #7C5D24; }
    /* line 588, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .SImg3 {
      border-color: #6E1014; }
    /* line 591, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .SImg4 {
      border-color: #4F652D; }
    /* line 594, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .SImg5 {
      border-color: #48254C; }
    /* line 597, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .SImg6 {
      border-color: #852635; }
    /* line 600, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .subBorder {
      max-width: 60%;
      min-width: 60%;
      max-height: 275px;
      min-height: 275px;
      border-bottom: solid 10px;
      z-index: 150;
      position: absolute; }
    /* line 609, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .subBImg1 {
      border-color: #126F85; }
    /* line 612, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .subBImg2 {
      border-color: #AE822D; }
    /* line 615, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .subBImg3 {
      border-color: #9B1C1F; }
    /* line 618, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .subBImg4 {
      border-color: #6E8D3B; }
    /* line 621, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .subBImg5 {
      border-color: #66326C; }
    /* line 624, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .subBImg6 {
      border-color: #C1364D; }
    /* line 627, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .subBorderLight {
      max-width: 30%;
      min-width: 30%;
      max-height: 275px;
      min-height: 275px;
      border-bottom: solid 10px;
      z-index: 150;
      position: absolute; }
    /* line 636, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .SBLight1 {
      border-color: #189DBF; }
    /* line 639, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .SBLight2 {
      border-color: #F9B71D; }
    /* line 642, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .SBLight3 {
      border-color: #DE2228; }
    /* line 645, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .SBLight4 {
      border-color: #9BC94F; }
    /* line 648, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .SBLight5 {
      border-color: #90489C; }
    /* line 651, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceImg .SBLight6 {
      border-color: #EF4C52; }
  /* line 655, ../components/sass/_Modules.scss */
  .ServiceBox .ServiceTitel {
    position: absolute;
    color: #ffffff;
    text-align: center;
    width: 100%;
    bottom: 0px;
    margin-bottom: 25px;
    padding-right: 25px;
    /*h3*/
    /*p*/ }
    /* line 663, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceTitel h3 {
      font-size: 28px;
      margin-bottom: 0px;
      text-shadow: 1px 1px #000000; }
    /* line 668, ../components/sass/_Modules.scss */
    .ServiceBox .ServiceTitel p {
      text-shadow: 1px 1px #000000; }

/*.ServiceBox*/
/*--------------Animation-------------------*/
/* line 2, ../components/sass/_base.scss */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; }

/*----------Animation : ZoomIn----------------*/
@-webkit-keyframes ZoomIn {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2); } }
/* line 26, ../components/sass/_base.scss */
.ZoomIn {
  -webkit-animation-name: ZoomIn;
  animation-name: ZoomIn; }

/*----------Animation : ZoomIn----------------*/
@-webkit-keyframes ZoomOut {
  0% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
/* line 42, ../components/sass/_base.scss */
.ZoomOut {
  -webkit-animation-name: ZoomOut;
  animation-name: ZoomOut; }

/*----------Animation : ShowIn----------------*/
@-webkit-keyframes ShowIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes ShowIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* line 56, ../components/sass/_base.scss */
.ShowIn {
  -webkit-animation-name: ShowIn;
  animation-name: ShowIn; }

/*----------Animation : ShowOut----------------*/
@-webkit-keyframes ShowOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes ShowOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/* line 69, ../components/sass/_base.scss */
.ShowOut {
  -webkit-animation-name: ShowOut;
  animation-name: ShowOut; }

/*----------Animation : LadyBug----------------*/
/* line 76, ../components/sass/_base.scss */
#ladybug {
  width: 243px;
  height: 179px;
  margin: 2% auto;
  background: url("/_/images/BugSprites.png") left center;
  -webkit-animation: play 1s steps(12) infinite; }

@keyframes play {
  0% {
    background-position: -2916px; }
  100% {
    background-position: 0; } }
@-webkit-keyframes play {
  0% {
    background-position: -2916px; }
  100% {
    background-position: 0; } }
/*----------Animation : CloudsSlide----------------*/
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-1692px, 0, 0); } }
/*

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
*/
