 button.btn.btn-md.AddNewSpecificationsbtn {
    position: absolute;
    right: 23px;
	top: 80px;
    background: #2D3446;
    color: #fff;
} 
button.btn.btn-md.AddNewStepbtn {
    position: absolute;
    right: 23px;
	top: 105px;
    background: #2D3446;
    color: #fff;
}
 button.btn.btn-md.AddNewStepserbtn {
    position: absolute;
    right: 23px;
	top: 230px;
    background: #2D3446;
    color: #fff;
} 
a.removespecification {
    float: right;
    margin-top: -42px;
    padding-right: 18px;
}
/* button.btn.btn-md.AddNewSpecificationsbtn {
    background: #2D3446;
    color: #fff;
    float: right;
    margin-right: 45%;
    margin-top: -54px;
} */
 input.overlayproduct.form-control {
    width: 83% !important;
}  
input.overlaystagesservices.form-control {
    width: 83% !important;
} 
img.prodimg {
    width: 60px;
}
input.InputProduct.form-control{
	width:85% !important;
}
label.offer {
    color: rgba(51, 51, 51, 0.62);
}
.mask .fa {
    display: none;
    position: absolute;
    top: -20px;
    transition: all 0.35s ease-in-out;
    left: 40px;
}
img.editimgproduct {
    width: 100px;
}
.mask:hover .fa {
    display: block;
    position: absolute;
    top: 41px;
    transition: all 1s ease-in-out;
    left: 40px;
    color: #fff;
    font-size: 17px;
}
.mask {
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 100px;
    background: rgba(51, 51, 51, 0.25);
    transition: all 0.35s ease-in-out;
}
.prodImages {
    position: relative;
}
.FromOne {
    border-bottom: 1px solid rgba(204, 204, 204, 0.13) !important;
}
.ToOne {
    border-bottom: 1px solid rgba(204, 204, 204, 0.13);
}
.Time {
    border-bottom: 1px solid rgba(204, 204, 204, 0.13);
}
button#Reply {
    margin-top: 25px;
    background: #FFC107;
    color: #fff;
}
label.To {
    margin-left: 19px;
}
p.inboxdetails {
    width: 97%;
    text-align: right;
}
.subSideBar.tt {
    width: 230px;
    padding: 25px;
    padding-top: 10px;
    background: #fff;
    height: 100%;
    position: fixed;
    left: 301px;
}
.SideBarContent.Inboxmessages {
    width: 60%;
    left: 520px;
    position: fixed;
    padding-left: 25px;
    padding-right: 25px;
    overflow-y: auto;
    height: 100%;
}
.ReplyMessage{
	display:none;
}
.ReplyMessage h3 {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
}
.FromOne span {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}
.ToOne span {
    padding-left: 38px;
    padding-right: 3px;
    font-size: 18px;
}
.Time span {
    padding-left: 23px;
    padding-right: 21px;
    font-size: 18px;
}
.TitleMessage span {
    padding-left: 25px;
    padding-right: 24px;
    font-size: 18px;
}
button.btn.btn-md.OverLayFormBtn.submitReply {
    margin-top: 8px;
    margin-bottom: 34px;
    background: #2D3446;
    color: #fff;
}
input.Contact.form-control {
    border: 1px solid rgba(230, 230, 230, 0.7);
    border-radius: 0px;
    padding: 10px;
    min-height: 50px;
    box-shadow: none;
    background: none;
    width: 50%;
}