$ClearWhite : #ffffff;

$DarkBlueLight : #2b303b;
$MidBlue : #2d3446;
$DarkBlue: #272b35;
$LightBlue : #48b0f7;


$DarkBlack: #101215;

$FadeGray : #959595;
$LightGray: #E6E6E6;
$MidGray : #626262;


$BorderColor:rgba(230,230,230,0.7);
$BackgroundColor: #F5F5F5;


/*Main Colors*/
$DarkGray : #2e2d2b;
$DarkRed :#cd162c;
$HeaderTextColor :#ffffff;
$HeaderPlaceHolderColor :#333;
$BodyColor :#F7F7FA;
$White: #ffffff;
$LightGray:#99a1a9;

$LightFadeBlue:#189DBF;
$MidFadeBlue :#126F85;
$DarkFadeBlue :#144F5F;

$LightFadeYellow:#F9B71D;
$MidFadeYellow :#AE822D;
$DarkFadeYellow :#7C5D24;

$LightFadeRed:#DE2228;
$MidFadeRed :#9B1C1F;
$DarkFadeRed :#6E1014;

$LightFadeGreen:#9BC94F;
$MidFadeGreen :#6E8D3B;
$DarkFadeGreen :#4F652D;

$LightFadePurpel:#90489C;
$MidFadePurpel :#66326C;
$DarkFadePurpel :#48254C;

$LightFadePink:#EF4C52;
$MidFadePink :#C1364D;
$DarkFadePink :#852635;


$LightBlue:#83D1DB;

$LightGrayBack :#F3F3F3;
$LightGrayFooter : #555555;

$MidGray:#888;

/*Responsive Vars*/
$Breakpoint :530px;